*{
margin: 0;
font-family: Arial;
border: border-box;
}
.navbar{
    height:60px;
    background-color: #0F1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 1.8px solid transparent;
}
.border:hover{
    border: 1.8px solid white;
    border-radius: 1.5px;
}
.icon{
     color: #FFFFFF;
     display: flex;
     align-items: center;
}
.add{
    padding:9px;
}
.add-1{
    color:#CCCCCC;
    font-size: 0.8rem;
    margin-left: 15px;
}
.add-2{
    color:#FFFFFF;
    font-size: 1rem;
    margin-left: 4px;
}
.nav-search{
    display: flex;
    background-color: orange;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    margin-left: 5px;
    justify-content: space-evenly
}
.search_icon{
    color: black;
}
.select{
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border: none;
   width: 50px;text-align: center;
   background-color: #f3f3f3;
}
.search{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search_icon{
   width:45px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   background-color: rgb(255,208,0);
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
}
.sign{
    color: #FFFFFF;
    padding:9px;
}
.lang{
    padding: 9px;
}
.selec{
    background-color: #0F1111;
    color: #FFFFFF;
    font-weight: 700;
}
.hello{
    font-size: 12px;
}
.acc{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
}
.fiv{
color: #FFFFFF;
padding:9px;
}
.ret{
    font-size: 12px;
}
.ord{
    font-size: 14px;
    font-weight: 700;
}
.nav-search:hover{
    border: 2px solid orange;
}

.nav-cart{
    color: #FFFFFF;
    padding: 14px;
}

.panel{
    height: 40px;
    background-color: #232F3E;
    color: #FFFFFF;
    display: flex;
    font-size: 14px;
    justify-content:space-evenly;
    align-items: center;
}
.all{
     font-weight:700 ;
     padding:9px;
}
.sp p{
    display: inline;
    padding: 9px;
}
.shop{
    font-weight: 700;
    padding: 9px;
}
.sp{
    width: 70%;
    margin-right: 150px;
}

.hero-section{
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.link{
    text-decoration: none;
    color: #007185;
}
.link:hover{
   color:rgb(17, 180, 180);
   text-decoration: underline;
}
.hero-msg{
    background-color: #FFFFFF;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.83rem;
    bottom: 25px;
    width: 80%;
    margin-bottom: 25px;
    font-family: Arial;
    font-weight: 545;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 440px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box-img{
    height: 350px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-con{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-con p{
    color: #007185;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #37475A;
    color: white;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel1:hover{
color: rgb(196, 189, 189);
}
.foot-panel2{
    background-color: #222f3d;
    color: #FFFFFF;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 30px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin: 10px;
    color: #dddddd;
}
ul p{
    font-weight: 500;
}
.foot-panel3{
    background-color: #222f3d;
    color: #FFFFFF;
    border-top:0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    background-size: cover;
    width: 100px;
}
.foot-panel4{
    background-color: #071a1a;
    color: #dddddd;
    display:block;
    padding: 15px;
    font-size: 10px;
}
.pages{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}